# Investigación Corta 1

Pandas es la biblioteca de Python más popular que se utiliza para la manipulación y el análisis de datos, esta biblioteca es una extensión de NumPy. 

En particular, ofrece estructuras de datos y operaciones para manipular tablas numéricas y series temporales.

Exixten 2 tipos de datos que se pueden analizar con Pandas:
    
    - Series: Son arreglos de 1 dimensión.
    - DataFrames: Son arreglos de 2 o más dimensiones organizados en filas y columnas.
    
En este tutorial se usarán los DataFrames por ser el tipo de datos más utilizado y más complejo. Además se utilizan los siguientes sets de datos descargados de Kaggle:

    https://www.kaggle.com/nishantbhadauria/messi-vs-ronaldo-vs-neymar
    https://www.kaggle.com/artimous/complete-fifa-2017-player-dataset-global#FullData.csv
    
Estos datos corresponden a las estadísticas de cada jugador de fútbol en el juego FIFA 2017.

## Parte 1: Tutorial de Pandas

Para poder utilizar la librería Pandas, lo primero que se debe hacer es importarla de la siguiente forma:

In [3]:
import numpy
import pandas

Una vez importada la librería, el siguiente paso el leer el set de datos con el que se quiere trabajar. En este caso se va a leer el archivo "soccer_players.csv" que contiene las estadísticas de Cristiano Ronaldo, Lionel Messi y Neymar agrupadas por habilidades primarias y secundarias. Estos datos se guardan en la variable "table".

In [4]:
table = pandas.read_csv('soccer_players.csv', delimiter = ',')
table

   Primary Skill Secondary Skill  Cristiano Ronaldo  Lionel Messi  Neymar
0        Defence         Marking                 22            13      21
1        Defence    Slide Tackle                 23            26      33
2        Defence    Stand Tackle                 31            28      24
3    Ball skills    Ball Control                 93            95      95
4    Ball skills       Dribbling                 92            97      96
5         Mental      Aggression                 63            48      56
6         Mental       Reactions                 96            95      88
7         Mental   Att. Position                 94            93      90
8         Mental   Interceptions                 29            22      36
9         Mental          Vision                 85            90      80
10        Mental       Composure                 86            94      80
11       Passing        Crossing                 84            77      75
12       Passing      Short Pass                 83            88      81
13       Passing       Long Pass                 77            87      75
14      Shooting         Heading                 85            71      62
15      Shooting      Shot Power                 92            85      78
16      Shooting       Finishing                 93            95      89
17      Shooting      Long Shots                 90            88      77
18      Shooting           Curve                 81            89      81
19      Shooting         FK Acc.                 76            90      84
20      Shooting       Penalties                 85            74      81
21      Shooting         Volleys                 88            85      83
22      Physical    Acceleration                 91            92      93
23      Physical         Stamina                 92            74      79
24      Physical        Strength                 80            59      53
25      Physical         Balance                 63            95      82
26      Physical    Sprint Speed                 92            87      90
27      Physical         Agility                 90            90      96
28      Physical         Jumping                 95            68      61
29    Goalkeeper  GK Positioning                 14            14      15
30    Goalkeeper       GK Diving                  7             6       9
31    Goalkeeper     GK Handling                 11            11       9
32    Goalkeeper      GK Kicking                 15            15      15
33    Goalkeeper     GK Reflexes                 11             8      11

Como se puede observar, las columnas tienen nombre y las filas tienen índices.

Si se quiere visualizar solo una parte de los datos, se pueden utilizar funciones como:
    
    - head():    Muestra las primeras 5 líneas.
    - tail():    Muestra las últimas 5 líneas.
    - sample(n): Muestra n líneas al azar.

A continuación se muestra un ejemplo:

In [5]:
table.sample(3)

   Primary Skill Secondary Skill  Cristiano Ronaldo  Lionel Messi  Neymar
14      Shooting         Heading                 85            71      62
30    Goalkeeper       GK Diving                  7             6       9
12       Passing      Short Pass                 83            88      81

También se puede obtener el arreglo con los nombres de las columnas o con los indices de las filas de la siguiente forma:

In [6]:
table.columns.values

array(['Primary Skill', 'Secondary Skill', 'Cristiano Ronaldo',
       'Lionel Messi', 'Neymar'], dtype=object)

In [7]:
table.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33])

### Filtrado de Datos

Muchas veces también se desea agrupar los datos de diferentes formas para poder visualizarlos mejor o filtrar información que no es tan relevante. Pandas permite hacer esto con un sintaxis muy simple, simplemente se escribe el nombre de la variable que contiene los datos, en este caso "table", seguido de una expresión dentro de paréntesis cuadrados.

Por ejemplo, si se quiere extraer únicamente los datos correspondientes a "Shooting", simplemente se indica que se desea obtener todos los datos en los que la columna "Primary Skill" correspondan a "Shooting".

En el siguiente ejemplo se extraen esos datos y se guardan en la variable "shooting_stats".

In [106]:
shooting_stats = table[table['Primary Skill'] == 'Shooting']
shooting_stats

   Primary Skill Secondary Skill  Cristiano Ronaldo  Lionel Messi  Neymar
14      Shooting         Heading                 85            71      62
15      Shooting      Shot Power                 92            85      78
16      Shooting       Finishing                 93            95      89
17      Shooting      Long Shots                 90            88      77
18      Shooting           Curve                 81            89      81
19      Shooting         FK Acc.                 76            90      84
20      Shooting       Penalties                 85            74      81
21      Shooting         Volleys                 88            85      83

También se podría desear un subset de los datos anteriores pero sólo para un jugador. En ese caso existen dos formas de hacerlo.

    - La primera es indicar cuáles columnas se desean:

In [9]:
shooting_stats[["Primary Skill", "Secondary Skill", "Cristiano Ronaldo"]]

   Primary Skill Secondary Skill  Cristiano Ronaldo
14      Shooting         Heading                 85
15      Shooting      Shot Power                 92
16      Shooting       Finishing                 93
17      Shooting      Long Shots                 90
18      Shooting           Curve                 81
19      Shooting         FK Acc.                 76
20      Shooting       Penalties                 85
21      Shooting         Volleys                 88

    - La segunda es indicar cuáles columnas se desea descartar.

In [10]:
shooting_stats.drop(columns = ['Lionel Messi', 'Neymar'])

   Primary Skill Secondary Skill  Cristiano Ronaldo
14      Shooting         Heading                 85
15      Shooting      Shot Power                 92
16      Shooting       Finishing                 93
17      Shooting      Long Shots                 90
18      Shooting           Curve                 81
19      Shooting         FK Acc.                 76
20      Shooting       Penalties                 85
21      Shooting         Volleys                 88

### Manipulaciones numéricas

También se pueden realizar diferentes cálculos con los datos que pueden ser útiles para realizar un análisis.

    - Obtener la media y la mediana (Los datos que son texto se ignoran automáticamente)

In [11]:
shooting_stats.mean()

Cristiano Ronaldo    86.250
Lionel Messi         84.625
Neymar               79.375
dtype: float64

In [12]:
shooting_stats.median()

Cristiano Ronaldo    86.5
Lionel Messi         86.5
Neymar               81.0
dtype: float64

    - Obtener la suma (Los datos que son texto se concatenan)

In [13]:
shooting_stats.sum()

Primary Skill        ShootingShootingShootingShootingShootingShooti...
Secondary Skill      HeadingShot PowerFinishingLong ShotsCurveFK Ac...
Cristiano Ronaldo                                                  690
Lionel Messi                                                       677
Neymar                                                             635
dtype: object

    - Obtener los valores mínimo y máximo (El parámetro ¨numeric_only¨ se coloca en True para que solo use los datos numéricos).

In [14]:
table.max(numeric_only = True)

Cristiano Ronaldo    96
Lionel Messi         97
Neymar               96
dtype: int64

In [15]:
table.min(numeric_only = True)

Cristiano Ronaldo    7
Lionel Messi         6
Neymar               9
dtype: int64

    - Realizar agrupamiento de valores. 
        
        En este caso se muestra un ejemplo de un agrupamiento utilizando la media.

In [151]:
summary = table.groupby('Primary Skill').mean()
summary

               Cristiano Ronaldo  Lionel Messi     Neymar
Primary Skill
Ball skills            92.500000     96.000000  95.500000
Defence                25.333333     22.333333  26.000000
Goalkeeper             11.600000     10.800000  11.800000
Mental                 75.500000     73.666667  71.666667
Passing                81.333333     84.000000  77.000000
Physical               86.142857     80.714286  79.142857
Shooting               86.250000     84.625000  79.375000

### Ordenar datos

Algo que generalmente se quiere hacer con los datos es ordenarlos de diferentes formas para análizarlos más fácilmente. Afortunadamente Pandas cuenta con la función sort_values() para poder hacer esto. Sólo se le debe indicar cómo se desea datos los datos en forma de parámetro.

A continuación se muestra un ejemplo en el que se ordena de la más alta a la más baja, las habilidades de Cristiano Ronaldo:

In [152]:
summary.sort_values('Cristiano Ronaldo', ascending = False)

               Cristiano Ronaldo  Lionel Messi     Neymar
Primary Skill
Ball skills            92.500000     96.000000  95.500000
Shooting               86.250000     84.625000  79.375000
Physical               86.142857     80.714286  79.142857
Passing                81.333333     84.000000  77.000000
Mental                 75.500000     73.666667  71.666667
Defence                25.333333     22.333333  26.000000
Goalkeeper             11.600000     10.800000  11.800000

### Manejo de datos faltantes

Puede ocurrir el caso de que el set de datos que se esté utilizando no esté completo y falten algunos datos. En estos casos se puede rellenar los datos faltantes usando la función fillna().

A continuación se muestra un ejemplo donde se va a eliminar un dato a propósito del set de datos:

In [153]:
summary['Lionel Messi'].Mental = 'NaN'
summary

               Cristiano Ronaldo  Lionel Messi     Neymar
Primary Skill
Ball skills            92.500000     96.000000  95.500000
Defence                25.333333     22.333333  26.000000
Goalkeeper             11.600000     10.800000  11.800000
Mental                 75.500000           NaN  71.666667
Passing                81.333333     84.000000  77.000000
Physical               86.142857     80.714286  79.142857
Shooting               86.250000     84.625000  79.375000

Se puede volver a llenar el dato faltante con la función fillna(), en este caso se va a calcular el valor faltante a partir del promedio de las otras habilidades de Lionel Messi.

In [163]:
summary.fillna(summary.mean())

               Cristiano Ronaldo  Lionel Messi     Neymar
Primary Skill
Ball skills            92.500000     96.000000  95.500000
Defence                25.333333     22.333333  26.000000
Goalkeeper             11.600000     10.800000  11.800000
Mental                 75.500000     63.078770  71.666667
Passing                81.333333     84.000000  77.000000
Physical               86.142857     80.714286  79.142857
Shooting               86.250000     84.625000  79.375000

### Unir sets de datos

Muchas veces se tienen sets de datos separados que comparten parte de su información y se desean fusionar en uno solo para poder realizar diferentes análisis.

Para ejemplificarlo mejor se desarrollará un ejemplo donde se buscó el set de datos completo de los jugadores de FIFA 2017. La idea es poder comparar a Bryan Ruíz con los 3 jugadores del primer set de datos.

Primero se procede a guardar los datos en la variable "full_data_set" y se revisa cuales columnas componen este nuevo set de datos.

In [36]:
full_data_set = pandas.read_csv('FullData.csv', delimiter = ',')
full_data_set.columns.values

array(['Name', 'Nationality', 'National_Position', 'National_Kit', 'Club',
       'Club_Position', 'Club_Kit', 'Club_Joining', 'Contract_Expiry',
       'Rating', 'Height', 'Weight', 'Preffered_Foot', 'Birth_Date',
       'Age', 'Preffered_Position', 'Work_Rate', 'Weak_foot',
       'Skill_Moves', 'Ball_Control', 'Dribbling', 'Marking',
       'Sliding_Tackle', 'Standing_Tackle', 'Aggression', 'Reactions',
       'Attacking_Position', 'Interceptions', 'Vision', 'Composure',
       'Crossing', 'Short_Pass', 'Long_Pass', 'Acceleration', 'Speed',
       'Stamina', 'Strength', 'Balance', 'Agility', 'Jumping', 'Heading',
       'Shot_Power', 'Finishing', 'Long_Shots', 'Curve',
       'Freekick_Accuracy', 'Penalties', 'Volleys', 'GK_Positioning',
       'GK_Diving', 'GK_Kicking', 'GK_Handling', 'GK_Reflexes'],
      dtype=object)

Con la información anterior se nota que este set de datos tiene muchas columnas adicionales que no tiene el set anterior, y que no son de interés para el análisis que se va a realizar, por lo que se procede a extraer únicamente los datos de Bryan Ruíz de las columnas que son de interés usando lo que se explicó en las secciones anteriores.

In [52]:
bryan_ruiz = full_data_set[full_data_set.Name == 'Bryan Ruíz']
bryan_ruiz = bryan_ruiz[['Name', 'Ball_Control', 'Dribbling', 'Marking', 'Sliding_Tackle', 
                         'Standing_Tackle', 'Aggression', 'Reactions', 'Attacking_Position', 
                         'Interceptions', 'Vision', 'Composure', 'Crossing', 'Short_Pass', 'Long_Pass',
                         'Acceleration', 'Speed','Stamina', 'Strength', 'Balance', 'Agility', 'Jumping',
                         'Heading', 'Shot_Power', 'Finishing', 'Long_Shots', 'Curve', 'Freekick_Accuracy', 
                         'Penalties', 'Volleys', 'GK_Positioning', 'GK_Diving', 'GK_Kicking',
                         'GK_Handling', 'GK_Reflexes']].set_index('Name')
bryan_ruiz

,Ball_Control,Dribbling,Marking,Sliding_Tackle,Standing_Tackle,Aggression,Reactions,Attacking_Position,Interceptions,Vision,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
Name,,,,,,,,,,,,,,,,,,,,,
Bryan Ruíz,85,85,45,48,57,33,75,78,49,80,...,77,83,74,71,79,7,9,12,7,6

Al observar el set de datos extraído, se nota que no tiene el mismo formato que el set de datos "table" y este es un requisito para poder unir ambos sets de datos. Por lo tanto de debe cambiar el formato de este segundo set de datos para hacerlo calzar con el otro.

#### Renombrar columnas
El primer paso es tener los nombres de las columnas iguales a los que tenían las columnas del primer set de datos. Entonces se deben renombrar con la siguiente instrucción en la que se especifican los nombres antiguos y nuevos de cada columna:

In [53]:
bryan_ruiz.rename(columns={'Sliding_Tackle':'Slide Tackle', 'Standing_Tackle':'Stand Tackle',
                           'Ball_Control':'Ball Control', 'Attacking_Position':'Att. Position', 
                           'Short_Pass':'Short Pass', 'Long_Pass':'Long Pass', 'Shot_Power':'Shot Power', 
                           'Long_Shots':'Long Shots', 'Freekick_Accuracy':'FK Acc.',
                           'Speed':'Sprint Speed', 'GK_Positioning':'GK Positioning', 
                           'GK_Diving':'GK Diving', 'GK_Kicking':'GK Kicking', 'GK_Handling':'GK Handling',
                           'GK_Reflexes':'GK Reflexes'}, inplace=True)
bryan_ruiz

,Ball Control,Dribbling,Marking,Slide Tackle,Stand Tackle,Aggression,Reactions,Att. Position,Interceptions,Vision,...,Long Shots,Curve,FK Acc.,Penalties,Volleys,GK Positioning,GK Diving,GK Kicking,GK Handling,GK Reflexes
Name,,,,,,,,,,,,,,,,,,,,,
Bryan Ruíz,85,85,45,48,57,33,75,78,49,80,...,77,83,74,71,79,7,9,12,7,6

#### Transposición de un DataFrame
El segundo paso es asegurarse que la dimensiones de los sets de datos tengan una correspondencia lógica, en este caso se debe transponer el seundo set de datos de la siguiente forma:

In [54]:
bryan_ruiz = bryan_ruiz.transpose().reset_index()
bryan_ruiz

Name           index  Bryan Ruíz
0       Ball Control          85
1          Dribbling          85
2            Marking          45
3       Slide Tackle          48
4       Stand Tackle          57
5         Aggression          33
6          Reactions          75
7      Att. Position          78
8      Interceptions          49
9             Vision          80
10         Composure          81
11          Crossing          78
12        Short Pass          80
13         Long Pass          72
14      Acceleration          68
15      Sprint Speed          69
16           Stamina          70
17          Strength          61
18           Balance          71
19           Agility          79
20           Jumping          56
21           Heading          75
22        Shot Power          80
23         Finishing          66
24        Long Shots          77
25             Curve          83
26           FK Acc.          74
27         Penalties          71
28           Volleys          79
29    GK Positioning           7
30         GK Diving           9
31        GK Kicking          12
32       GK Handling           7
33       GK Reflexes           6

Luego se cambia el nombre de la columna "index" a "Secondary Skill"

In [55]:
bryan_ruiz.rename(columns={'index':'Secondary Skill'},inplace=True)
bryan_ruiz

Name Secondary Skill  Bryan Ruíz
0       Ball Control          85
1          Dribbling          85
2            Marking          45
3       Slide Tackle          48
4       Stand Tackle          57
5         Aggression          33
6          Reactions          75
7      Att. Position          78
8      Interceptions          49
9             Vision          80
10         Composure          81
11          Crossing          78
12        Short Pass          80
13         Long Pass          72
14      Acceleration          68
15      Sprint Speed          69
16           Stamina          70
17          Strength          61
18           Balance          71
19           Agility          79
20           Jumping          56
21           Heading          75
22        Shot Power          80
23         Finishing          66
24        Long Shots          77
25             Curve          83
26           FK Acc.          74
27         Penalties          71
28           Volleys          79
29    GK Positioning           7
30         GK Diving           9
31        GK Kicking          12
32       GK Handling           7
33       GK Reflexes           6

#### Función "merge"
Con este nuevo formato ya se puede proceder a unir los dos sets de datos usando la función merge(). 

Se le debe indicar a la función cuál es la columna que tienen en común.

In [60]:
new_table = table.merge(bryan_ruiz, on = 'Secondary Skill')
new_table

,Primary Skill,Secondary Skill,Cristiano Ronaldo,Lionel Messi,Neymar,Bryan Ruíz
0,Defence,Marking,22,13,21,45
1,Defence,Slide Tackle,23,26,33,48
2,Defence,Stand Tackle,31,28,24,57
3,Ball skills,Ball Control,93,95,95,85
4,Ball skills,Dribbling,92,97,96,85
5,Mental,Aggression,63,48,56,33
6,Mental,Reactions,96,95,88,75
7,Mental,Att. Position,94,93,90,78
8,Mental,Interceptions,29,22,36,49
9,Mental,Vision,85,90,80,80
10,Mental,Composure,86,94,80,81
11,Passing,Crossing,84,77,75,78
12,Passing,Short Pass,83,88,81,80
13,Passing,Long Pass,77,87,75,72
14,Shooting,Heading,85,71,62,75
15,Shooting,Shot Power,92,85,78,80
16,Shooting,Finishing,93,95,89,66
17,Shooting,Long Shots,90,88,77,77
18,Shooting,Curve,81,89,81,83
19,Shooting,FK Acc.,76,90,84,74
20,Shooting,Penalties,85,74,81,71
21,Shooting,Volleys,88,85,83,79
22,Physical,Acceleration,91,92,93,68
23,Physical,Stamina,92,74,79,70
24,Physical,Strength,80,59,53,61
25,Physical,Balance,63,95,82,71
26,Physical,Sprint Speed,92,87,90,69
27,Physical,Agility,90,90,96,79
28,Physical,Jumping,95,68,61,56
29,Goalkeeper,GK Positioning,14,14,15,7
30,Goalkeeper,GK Diving,7,6,9,9
31,Goalkeeper,GK Handling,11,11,9,7
32,Goalkeeper,GK Kicking,15,15,15,12
33,Goalkeeper,GK Reflexes,11,8,11,6

## Parte 2: Análisis exploratorio

En esta parte se va a proceder a realizar el análisis exploratorio del set de datos con los 4 jugadores (new_table) que fue generado en la parte anterior.